In [1]:
# Dependencies and Setup, # File to Load (Remember to Change These)
import pandas as pd
import numpy as np
csv_path = "Resources/purchase_data.csv"
# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(csv_path)

In [2]:
# Display the total number of players
total_players = purchase_data_df["SN"].nunique()
total_players_df = pd.DataFrame({"Total Players" : [total_players]})
total_players_df

   Total Players
0            576

In [3]:
# Purchasing Analysis (Total)

In [4]:
# Run basic calculations to obtain number of unique items, average price, etc.
Number_of_Unique_Items = purchase_data_df["Item ID"].nunique()

In [5]:
average_price = purchase_data_df["Price"].mean()

In [6]:
Number_of_Purchases = purchase_data_df["Purchase ID"].nunique()

In [7]:
total_revenue = purchase_data_df["Price"].sum()

In [8]:
# Create a summary data frame to hold the results
Purchasing_Analysis_df = pd.DataFrame({
    "Number of Unique Items": [Number_of_Unique_Items],
    "Average Price": [average_price],
    "Number of Purchases": [Number_of_Purchases], 
    "Total Revenue": [total_revenue]})
# Optional: give the displayed data cleaner formatting
Purchasing_Analysis_df["Average Price"] = Purchasing_Analysis_df["Average Price"].map("${:.2f}".format)
Purchasing_Analysis_df["Total Revenue"] = Purchasing_Analysis_df["Total Revenue"].map("${:,}".format)
# Display the summary data frame
Purchasing_Analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

In [9]:
# Gender Demographics

In [10]:
# Create slimmed gender df with 780 = 'Number_of_Purchases' values to work on below...
Slimmed_df = purchase_data_df[["SN", "Age", "Gender"]]

In [11]:
# Create unique df with 576 = 'total_players' values/rows to get gender totals
Unique_data_df = Slimmed_df.drop_duplicates()

In [12]:
# Using groupby on the df and deleting a column
Gender_Demographics = Unique_data_df.groupby('Gender').count()
del Gender_Demographics['Age']

In [13]:
# Percentage and Count of Male Players, Females, & Others
Gender_Demographics["Percents"] = round(Gender_Demographics['SN']/total_players*100, 2)

In [14]:
#Renaming Columns
Gender_Demographics = Gender_Demographics.rename(columns={"SN": "Total Count", "Percents": "Percentage of Players"})
Gender_Demographics

                       Total Count  Percentage of Players
Gender
Female                          81                  14.06
Male                           484                  84.03
Other / Non-Disclosed           11                   1.91

In [15]:
# Purchasing Analysis (Gender)

In [16]:
Total_Purchase_Value_per_Gender = purchase_data_df.groupby('Gender').sum()["Price"]

In [17]:
# Run basic calculations to obtain purchase count
Gender_Purchase_df = Slimmed_df.groupby('Gender').count()
del Gender_Purchase_df['Age']
Gender_Purchase_df = Gender_Purchase_df.rename(columns={"SN": "Purchase Count"})

In [18]:
Gender_Purchase_df["Total Purchase Value"] = Total_Purchase_Value_per_Gender

In [19]:
# avg. purchase price
# mapping/formatting...
Gender_Purchase_df["Average Purchase Price"] = round(Gender_Purchase_df["Total Purchase Value"]/Gender_Purchase_df['Purchase Count'], 2).map("${:.2f}".format)
Gender_Purchase_df["Avg. Total Purchase per Person"] = round(Gender_Purchase_df["Total Purchase Value"]/Gender_Demographics["Total Count"], 2).map("${:.2f}".format)
Gender_Purchase_df["Total Purchase Value"] = Gender_Purchase_df["Total Purchase Value"].map("${:.2f}".format)
Gender_Purchase_df

,Purchase Count,Total Purchase Value,Average Purchase Price,Avg. Total Purchase per Person
Gender,,,,
Female,113,$361.94,$3.20,$4.47
Male,652,$1967.64,$3.02,$4.07
Other / Non-Disclosed,15,$50.19,$3.35,$4.56

In [20]:
# Age Demographics

In [21]:
# Slimmed_df w duplicates dropped = 576 = Unique_data_df 
Age_Demographics_df = Unique_data_df
del Age_Demographics_df['Gender']

In [22]:
# Establish bins for ages (see 3.3) 
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [23]:
# Categorize the existing players using the age bins. Hint: use pd.cut()
Age_Demographics_df["Age Category"] = pd.cut(Age_Demographics_df["Age"], age_bins, labels=group_names)
# Calculate the numbers i.e. total count in each bin
# Create a summary data frame to hold the results
Age_Demographics_df = Age_Demographics_df.groupby('Age Category').count()
del Age_Demographics_df['SN']
Age_Demographics_df = Age_Demographics_df.rename(columns={"Age": "Total Count"})

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [24]:
# Calculate percentages by age group (Total count/total_players)
# Optional: round the percentage column to two decimal points
Age_Demographics_df["Percentage of Players"] = round(Age_Demographics_df['Total Count']/total_players*100, 2)
# Display Age Demographics Table
Age_Demographics_df

              Total Count  Percentage of Players
Age Category
<10                    17                   2.95
10-14                  22                   3.82
15-19                 107                  18.58
20-24                 258                  44.79
25-29                  77                  13.37
30-34                  52                   9.03
35-39                  31                   5.38
40+                    12                   2.08

In [25]:
# Purchasing Analysis (Age)

In [26]:
Age_Purchasing_Count_df = purchase_data_df[["SN", "Age", "Price"]]

In [27]:
# Bin the purchase_data data frame by age
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

Age_Purchasing_Count_df["Age Category"] = pd.cut(Age_Purchasing_Count_df["Age"], age_bins, labels=group_names)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [28]:
# Run basic calculations to obtain 'Purchase Count'
Age_Purchasing_Count_df = Age_Purchasing_Count_df.groupby('Age Category').count()
Age_Purchasing_Count_df = Age_Purchasing_Count_df.rename(columns={"Age": "Purchase Count"})
del Age_Purchasing_Count_df['SN']

In [29]:
Age_Purchasing_Analysis_df = purchase_data_df[["SN", "Age", "Price"]]

In [30]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

Age_Purchasing_Analysis_df["Age Category"] = pd.cut(Age_Purchasing_Analysis_df["Age"], age_bins, labels=group_names)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [31]:
# this worked to get Total_Purchase_Value_per_Age
Total_Purchase_Value_Series = Age_Purchasing_Analysis_df.groupby('Age Category').sum()["Price"]

In [32]:
# 'Average Purchase Price' = Total Purchase Value / Purchase Count
Age_Purchasing_Count_df["Average Purchase Price"] = round(Total_Purchase_Value_Series/Age_Purchasing_Count_df['Purchase Count'], 2).map("${:.2f}".format)

In [33]:
Age_Purchasing_Count_df["Total Purchase Value"] = (Total_Purchase_Value_Series)

In [34]:
# alternative way to delete column from Yukon???
Age_Purchasing_Count_df.drop(columns = ["Price"], inplace = True)

In [35]:
Unique_data_Series = Unique_data_df['Age Category'].value_counts()

In [36]:
# Create a summary data frame to hold the results
# Optional: give the displayed data cleaner formatting
# Display the summary data frame
# 'Avg. Total Purchase per Person' = Total Purchase Value / Purchase Count OF 576 NOT 780
Age_Purchasing_Count_df["Avg. Total Purchase per Person"] = round(Total_Purchase_Value_Series/Unique_data_Series, 2).map("${:.2f}".format)
Age_Purchasing_Count_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg. Total Purchase per Person
Age Category,,,,
<10,23,$3.35,77.13,$4.54
10-14,28,$2.96,82.78,$3.76
15-19,136,$3.04,412.89,$3.86
20-24,365,$3.05,1114.06,$4.32
25-29,101,$2.90,293.00,$3.81
30-34,73,$2.93,214.00,$4.12
35-39,41,$3.60,147.67,$4.76
40+,13,$2.94,38.24,$3.19

In [37]:
# Top Spenders

In [38]:
# Run basic calculations to obtain the results in the table below

In [39]:
# To get "Purchase Count" per person
Purchase_Count_Top_df = purchase_data_df.groupby('SN').count()

In [40]:
Purchase_Count_Top_df.sort_values(["Purchase ID"], ascending=False).head()

             Purchase ID  Age  Gender  Item ID  Item Name  Price
SN
Lisosia93              5    5       5        5          5      5
Iral74                 4    4       4        4          4      4
Idastidru52            4    4       4        4          4      4
Asur53                 3    3       3        3          3      3
Inguron55              3    3       3        3          3      3

In [41]:
# Total Purchase Value...for the sorted list above
Total_Purchase_Value_Top = purchase_data_df[["SN", "Age", "Price"]]

In [42]:
Total_Purchase_Value_Top_df = Total_Purchase_Value_Top.groupby('SN').sum()

In [43]:
# Sort it to match above
Total_Purchase_Value_Top_df.sort_values(["Price"], ascending=False).head()

             Age  Price
SN
Lisosia93    125  18.96
Idastidru52   96  15.45
Chamjask73    66  13.83
Iral74        84  13.62
Iskadarya95   60  13.10

In [44]:
# Merge step
Top_Analysis_df = pd.merge(Total_Purchase_Value_Top_df, Purchase_Count_Top_df, on="SN", how="outer")
Top_Analysis_df = Top_Analysis_df.sort_values(["Price_x"], ascending=False).head()

In [45]:
# Clean it up
Top_Analysis_df = Top_Analysis_df[["Purchase ID", "Price_x"]]
Top_Analysis_df = Top_Analysis_df.rename(columns={"Purchase ID" : "Purchase Count", "Price_x" : "Total Purchase Value"})

In [46]:
# Create a summary data frame to hold the results
# Sort the total purchase value column in descending order
# Optional: give the displayed data cleaner formatting
# Display a preview of the summary data frame

In [47]:
# Average Purchase Price = Total Purchase Value / Purchase Count
Top_Analysis_df["Average Purchase Price"] = round(Top_Analysis_df["Total Purchase Value"]/Top_Analysis_df["Purchase Count"], 2).map("${:.2f}".format)
Top_Analysis_df

             Purchase Count  Total Purchase Value Average Purchase Price
SN
Lisosia93                 5                 18.96                  $3.79
Idastidru52               4                 15.45                  $3.86
Chamjask73                3                 13.83                  $4.61
Iral74                    4                 13.62                  $3.40
Iskadarya95               3                 13.10                  $4.37

In [48]:
# Most Popular Items

In [49]:
# Retrieve the Item ID, Item Name, and Item Price columns

In [50]:
# Group by Item ID and Item Name. 
# Perform calculations to obtain purchase count
Most_Popular_df = purchase_data_df.groupby(['Item ID', 'Item Name']).count()

In [51]:
# Rename column and descending order
Most_Popular_df = Most_Popular_df.rename(columns={"Purchase ID" : "Purchase Count"})
# Sort the purchase count column in descending order
Most_Popular_df = Most_Popular_df.sort_values(["Purchase Count"], ascending=False).head()

In [52]:
# Get rid of unnecessary columns
Most_Popular_df = Most_Popular_df[["Purchase Count"]]

In [53]:
# Add item price, Merging...matching Item ID to item price from original df
Most_Popular_Item_df = pd.merge(Most_Popular_df, purchase_data_df, on="Item ID")
Most_Popular_Item_df = Most_Popular_Item_df[["Item ID", "Item Name", "Purchase Count", "Price"]]

In [54]:
Most_Popular_Item_df = Most_Popular_Item_df.drop_duplicates()

Most_Popular_Item_df.set_index(["Item ID", "Item Name"])

                                                      Purchase Count  Price
Item ID Item Name
178     Oathbreaker, Last Hope of the Breaking Storm              12   4.23
145     Fiery Glass Crusader                                       9   4.58
108     Extraction, Quickblade Of Trembling Hands                  9   3.53
82      Nirvana                                                    9   4.90
19      Pursuit, Cudgel of Necromancy                              8   1.02

In [55]:
# Create a summary data frame to hold the results
# total purchase value = purchase count * priceMost_Popular_Item_df = 
# Optional: give the displayed data cleaner formatting (LATER...) 
# Display a preview of the summary data frame
Most_Popular_Item_df["Total Purchase Value"] = Most_Popular_Item_df["Purchase Count"]*Most_Popular_Item_df["Price"]
Most_Popular_Item_df

,Item ID,Item Name,Purchase Count,Price,Total Purchase Value
0,178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
12,145,Fiery Glass Crusader,9,4.58,41.22
21,108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
30,82,Nirvana,9,4.90,44.10
39,19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

In [56]:
# Most Profitable Items

In [57]:
Most_Profitable_df = purchase_data_df.groupby(['Item ID', 'Item Name']).count()

In [58]:
# Rename column
Most_Profitable_df = Most_Profitable_df.rename(columns={"Purchase ID" : "Purchase Count"})

In [59]:
# Get rid of unnecessary columns
Most_Profitable_df = Most_Profitable_df[["Purchase Count"]]

In [60]:
# Add item price, Merging...matching Item ID to item price from original df
Most_Profitable_Items_df = pd.merge(Most_Profitable_df, purchase_data_df, on="Item ID")

Most_Profitable_Items_df = Most_Profitable_Items_df[["Item ID", "Item Name", "Purchase Count", "Price"]]

In [61]:
Most_Profitable_Items_df = Most_Profitable_Items_df.drop_duplicates()

Most_Profitable_Items_df.set_index(["Item ID", "Item Name"])
Most_Profitable_Items_df.head()

    Item ID           Item Name  Purchase Count  Price
0         0            Splinter               4   1.28
4         1            Crucifer               3   3.26
7         2             Verdict               6   2.48
13        3        Phantomlight               6   2.49
19        4  Bloodlord's Fetish               5   1.70

In [62]:
Most_Profitable_Items_df["Total Purchase Value"] = Most_Profitable_Items_df["Purchase Count"]*Most_Profitable_Items_df["Price"]

In [63]:
# Sort the above table by total purchase value in descending order
# Optional: give the displayed data cleaner formatting
# Display a preview of the data frame
Most_Profitable_Items_df = Most_Profitable_Items_df.sort_values(["Total Purchase Value"], ascending=False).head()
Most_Profitable_Items_df

,Item ID,Item Name,Purchase Count,Price,Total Purchase Value
750,178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
340,82,Nirvana,9,4.90,44.10
613,145,Fiery Glass Crusader,9,4.58,41.22
381,92,Final Critic,8,4.88,39.04
436,103,Singed Scalpel,8,4.35,34.80